body {
    font-size: 20px;
}

.navbar {
    padding:0;
}

.navbar-logo {
    width: 15vh;
    height: 10vh;
}

main {
    background-image: url('assets/ipad.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 60vw;
    margin-left: 20vw;
    margin-right: 20vw;
}

nav {
    background-color: #000;
}

.container {
    padding: 0;
    text-align: left;
}

nav img {
    display:inline-block;
}

/* map-area */
.map-area {
    margin:4vh auto 0;
    width: 50vw;
    height: 15vw;
    background-color: rgba(255, 255, 255, 0);
}

.white-space-load1 {
    width: 5vw;
    height: 5vw;
    background-color: #fff;
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:black;
    border:1px solid rgba(0,0,0,1);
}

.white-space-load {
    width: 9.5vh;
    height: 9.5vh;
    background-color: #fff;
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:black;
    border:1px solid rgba(0,0,0,1);
}

.white-space-lion {
    left:0;
    width: 4.5vw;
    height: 4.5vw;
    position: relative;
}

.first-row, .second-row, .third-row {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

/* key-area */
.key-area {
    background-color: rgba(0, 0, 0, 0.3);
    height: 30vh;
    border-radius: 3vh;
    margin:3vw auto 0;
    width: 40vw;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}

.direction-row {
    display:flex;
    flex-direction: row;
    margin-right: 1vh;
    color:white;
    text-align: center;
    justify-content:start;
}

.key-area-h2 {
    width: 10vw;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 3vh;
    margin-bottom: 0;
}

.white-wrapper {
    display:flex;
    align-items: center;
}

.white-space {
    width: 5vw;
    height: 5vw;
    background-color: #fff;
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:black;
    border:1px solid rgba(0,0,0,1);
}

.white-space-text {
    font-size: 2vh;
    font-weight: 700;
}

.white-space-up {
    width:5vh;
    height: 5vh;
    transform: rotate(-90deg);
}

.white-space-right {
    width: 5vh;
    height: 5vh;
}

/* start-button-area */
.start-button-area {
    background-color: #fff;
    border-radius: 3vh;
    height: 14vh;
    margin:4vh auto 0;
    width: 40vw;
}

.star {
    position: absolute;
    height: 9vh;
    width: 9vh;
    margin-top: -2.4vh;
    margin-left: -2.4vh;
}

.start-button-textarea {
    text-align: center;
}

.start-button-h2 {
    position:relative;
    font-size: 3vh;
    padding-top: 1vh;
    font-weight: 500;
    color:#34494B;
}

.start-button-h4 {
    font-size: 2vh;
    line-height: 1.6;
    color:rgba(107, 133, 136, 100);
}

.first {
    
}
/* ------------------------------------------------------------ */
/* 여기서부터 second */
.second {
    display:none;    
}

/* info-area */

.info-area {
    background-color: rgba(0, 0, 0, 0.3);
    height: 18vh;
    border-radius: 3vh;
    margin:4vh auto 0;
    width: 40vw;
    display:flex;
    text-align: center;
    flex-direction:column;
    justify-content:center;
}

.info-text {
    color:white;
    font-weight: 700;
}
/* example */
.example {
    background-color: rgba(0, 0, 0, 0.0);
    height: 18vh;
    border-radius: 3vh;
    margin:3vh auto 0;
    width: 50vw;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.example-row {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.white-space2 {
    width: 5vw;
    height: 5vw;
    background-color: #fff;
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:black;
    border:1px solid rgba(0,0,0,1);
}


/* submit-area */
.submit-area {
    background-color: rgba(0, 0, 0, 0.3);
    height: 12vh;
    border-radius: 3vh;
    margin:4vh auto 0;
    width: 50vw;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}

.submit-area-h2 {
    width: 10vw;
    display:flex;
    flex-direction:column;
    justify-content: center;
    font-size: 4vh;
}

#sol1, #sol2 {
    display:none;
}

/* 여기서부터 third */
.third {
    display:none;
}

/* info-area2 */
.info-area2 {
    background-color: rgba(0, 0, 0, 0.3);
    height: 15vw;
    border-radius: 3vh;
    width: 40vw;
    margin: 13vw auto 0;
    display:flex;
    text-align: center;
    flex-direction:column;
    justify-content:center;
}

.info-text2 {
    color:white;
    font-size: 2vw;
    font-weight: 700;
    margin-top: 2vw;
}

.lion-wakeup {
    position: absolute;
    height: 12vw;
    width: 10vw;
    margin-top: -12vw;
    margin-left: calc(20vw - 5vw);
}

/* load-area*/
.load-area {
    background-color: rgba(0, 0, 0, 0.3);
    height: 15vh;
    width: 40vw;
    border-radius: 3vh;
    margin:3vh auto 0;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}

.white-space3 {
    width: 5vw;
    height: 5vw;
    background-color: #fff;
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:black;
    border:1px solid rgba(0,0,0,1);
}

.white-space3-h2 {
    width: 10vw;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    font-size: 2.8vh;
    font-weight: 700;
}

.white-space-lionzone {
    width: 5vw;
    height: 5vw;
    background-color: #fff;
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:black;
    border:1px solid rgba(0,0,0,1);
    margin-left: 5vw;
}

.white-space-lion3 {
    left:0;
    width: 4.5vw;
    height: 4.5vw;
    position: relative;   
}

/* keyword-area */
.keyword-area {
    background-color: rgba(0, 0, 0, 0.3);
    height: 15vh;
    width: 40vw;
    border-radius: 3vh;
    margin:3vh auto 0;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}

.white-wrapper3 {
    display:flex;
    align-items: center;
}

#S2, #ST2, #STA2, #STAR2, #START2 {
    display:none;
}